*{
  margin: 0;
  padding: 0;
  font-family: tahoma, geneva, sans-serif;
}

body{
  background-image:linear-gradient(rgba(220, 0, 0, 0.5), rgba(220, 0, 0, 0.5)), url('../1.jpg');
  background-position:center top;
  height: 150vh;

}

.avengerpage{
  width:100%;
}


.logo img{

  width: 150px;
  height: auto;
  margin-top: 35px;
  margin-left: 82px;
}

.title2{
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.title2 a{
  text-decoration: none;
}

.title2 a h1{
  color: white;
  font-size: 70px;
}

.title2 a h1:hover{
  color: lawngreen;
}

.trailer{
  margin-top: 30px;
  margin-left: 9%;
  margin-right: 9%;
}

.trailer iframe{
  float: left;
  width: 53%;
  height: 300px;
}

.trailer img{
  float: right;
  width: 450px;
  height: 300px;
}

.moviename{
  margin-top: 30%;
  margin-left: 9%;
}

.moviename h2{
  color: black;
  font-family: tahoma;
  font-size: 30px;
  text-decoration: underline;
}

.avengers_list{
  margin-top: 5%;
  margin-left: 14%;
}

.avengers_list ol{
  list-style-type: decimal;
}

.avengers_list ol li{
  display: block;
  margin-bottom: 22px;
  margin-right: 22px;
  color: black;
}

.avengers_list ol li a{
  color: white;
  font-size: 20px;
  text-decoration: none;
  transition: 0.5s ease;
}

.avengers_list ol li a:hover{
  color: purple;
}

.avengers_list ol li a:visited{
  color: lawngreen;
}

.summery{
  margin-top: 30px;
  margin-left: 9%;
  margin-right: 9%;
}

.words{
  float: left;
  width: 53%;
  background-color: #ff1a1a;
  height: 275px;
  padding: 25px;
}

.words h3{
  font-size: 25px;
  color: rgb(178, 2, 255);

}

.words p{
  margin-top: 20px;
  font-size: 20px;
  color: black;
}

.summery img{
  float: right;
  width: 220px;
  height: 325px;
}

.imdb_link a{
  position: absolute;
  float: left;
  margin-top: 30%;
  margin-left: 9%;
  text-decoration: none;
  color: white;
  font-size: 25px;

}

.imdb_link a:visited{
  color: yellow;
}

.moviename1{
  position: absolute;
  float: right;
  margin-left: 9%;
}

.moviename1 h2{
  color: black;
  font-family: tahoma;
  font-size: 30px;
  text-decoration: underline;
  display: block;
}

.vdo1{
  margin-top: 32%;
  margin-left: 10%;
}

.vdo1 video{
  width: 700px;

}
